.main {
    padding: 30px 30px;
    font-family: "Open Sans";
    color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .button.style{
      background-color: aqua;
      color: white;
  }
  .inputStyle {
     
      text-align: center;
      border: none;
  }